body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #404040;
}

.container {
  display: grid;
  grid-gap: 5px;
  height: 100vh;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(4, 100px);

  /* justify-content | align-content: start end center stretch space-around space-between space-evenly; */

  justify-content: center;
  align-content: center;

  /* justify-items: start end center start; */
  /* justify-items: center; */
  /* align-items: start end center stretch; */
  /* align-items: center ; */

 
}

.item {
  color: #f8f8f8;
  background: orangered;
  padding: 10px;
  border: 2px solid #f8f8f8;
}

.item:nth-of-type(5){
  /* align-self: start;
  justify-self: start; */
}
