body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  /* grid-template-columns: 30% 300px 30%; */
  /* grid-template-rows: 300px 150px; */
  grid-template: 300px 100px 100px / 50% 200px 100px;
}

.item {
  color: greenyellow;
   background: indigo;
   padding: 20px;
   border: 2px solid greenyellow;
   
}